.sidebar{
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--primary-color);
}

.sidebar__top{
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.sidebar__top h2{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--heading-color);
}

.sidebar__top h2 span{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 50%;
}

.sidebar__top h2 i{
    font-weight: 400;
    padding: 5px;
    font-size: 1.2rem;
}

.sidebar__content{
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100%- 5%);
    margin-top: 50px;
}

.menu{
    background-color: blue;
    height: 80%;
}

.sidebar__bottom{
    height: 20%;
    
}